@font-face {
    font-family: 'futura_ltbold';
    src: url('../fonts/futura/futuralt-bold.woff2') format('woff2'),
         url('../fonts/futura/futuralt-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
